 html, body {
    height: 100%;
  }
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
@font-face {
    font-family: 'press_start_2pregular';
    src: url('https://cwilliamson29.github.io/RockPaperScissorsDOM/img/pressstart2p-regular-webfont.woff2') format('woff2'),
         url('https://cwilliamson29.github.io/RockPaperScissorsDOM/img/pressstart2p-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
#container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/**********************
****ROBOT BOX BEGIN****
**********************/
#robot{
    background-image: url("https://cwilliamson29.github.io/RockPaperScissorsDOM/img/robot.png");
    width:746px;
    height: 585px;
}
#displayBox{
    width: 240px;
    height: 143px;
    margin-top: 281px;
    margin-left: 253px;
    color:rgb(0, 255, 0);
    border: 2px solid rgb(94, 94, 94);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    font-family: 'press_start_2pregular';
    background-color: rgb(31, 31, 31);
    
}
#welcome{
    order: 0;
    width: 190px;
    height: 45px;
    padding-top: 10px;
    text-align: center;
}
#computerChoice{
    order: 1;
    width: 85px;
    height: 85px;
    /*background: red;*/
}
#computerChoiceIMG{
    width: 85px;
    height: 85px;
}
#scoreBox{
    width: 255px;
    height: 60px;
    margin-top: 10px;
    margin-left: 249px;
    /*background-color: red;
    opacity: 50%;*/
}
#userCount{
    float: left;
    width: 50px;
    height: 60px;
    padding-top: 6px;
    display: flex;
    align-content: center;
    justify-content: center;
    /*background-color: green;
    opacity: 80%;*/
}
#scoreLabel{
    
    float: left;
    width: 155px;;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*background-color: rgb(132, 0, 255);
    opacity: 80%;*/
}
#userScoreLabel{
    float: left;
    display: flex;
    margin-top: -4px;
    justify-content: center;
    width: 155px;
    height: 25px;
    /*background-color: purple;
    opacity: 80%;*/
}
#userScoreLabel p{
    color:rgb(0, 255, 0);
    font-weight: bold;
    font-family: 'press_start_2pregular';
    font-size: 9px;
}
#compScoreLabel{
    margin-top: 4px;
    float: left;
    width: 145px;
    height: 30px;
    align-items: center;
    justify-content: center;
    /*background-color: yellow;
    opacity: 80%;*/
}
#compScoreLabel p{
    color:rgb(0, 255, 0);
    font-weight: bold;
    font-family: 'press_start_2pregular';
    font-size: 9px;
    text-align: right;
    padding-right: 10px;
    /*transform: scale(.9, 1);*/
}
#compCount{
    float: left;
    width: 50px;
    height: 60px;
    padding-top: 6px;
    display: flex;
    align-content: center;
    justify-content: center;
    /*background-color: green;
    opacity: 80%;*/
}
.countBox{
    /*float: right;*/
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-top: -8px;
    color:rgb(0, 255, 0);
    font-weight: bold;
    font-family: 'press_start_2pregular';
    font-size: 20px;
    display: flex;
    align-content: center;
    justify-content: center;
}

/***********************
****PLAYER BOX BEGIN****
***********************/
#PlayerChoiceBox{
    margin-top: -55px;
    width:350px;
    height:250px;
    display: flex;
    flex-direction: column;
    /*background-color: green;
    /*opacity: 80%;*/
}
#playRounds{
    order:1;
    width: 100%;
    height: 34px;
    border-radius: 10px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
#roundsLabel{
    font-weight: bold;
    font-family: 'press_start_2pregular';
    font-size: 10px;
    color:rgb(0, 255, 0);
    /*transform: scale(3, 3);*/
}
#numberRounds{
    margin-left: 5px;
    padding-left: 5px;
    text-align: center;
    width: 35px;
    font-weight: bold;
    font-family: 'press_start_2pregular';
    font-size: 18px;
    color:rgb(0, 255, 0);
    background-color: black;
    border:none;
    border-bottom: 2px solid darkgray;
}
.choiceWrapper{
    order: 2;
    width:350px;
    height:115px;
    margin-top: 20px;
    display:flex;
    flex-direction: row;
    /*background-color: blue;*/
}
#playerChoices{
    display:flex;
    flex-direction: row;
}
.buttonBox{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    border: 4px solid rgb(0, 255, 0);
    border-radius: 20px;
    font-weight: bold;
    font-family: 'press_start_2pregular';
    font-size: 27px;
    color:rgb(0, 255, 0);
}
.buttonBox:hover{
    background-color: rgb(0, 255, 0);
    border: 4px solid black;
    border-radius: 20px;
    font-weight: bold;
    font-family: 'press_start_2pregular';
    font-size: 27px;
    color:black;
}
.choice{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 33%;
    height: 115px;
}
.choice img{
    order:1;
    width: 100%;
    
}
.choice img:hover{
    border-radius: 50%;
    border: 4px solid black;
}
#choiceAlert{
    order: 3;
    text-align: center;
    width:350px;
    height: 20px;
    font-family: 'press_start_2pregular';
    font-size: 18px;
    color:black;
    padding-top: 15px;
}